<%- include Partials/header.ejs %>
<%- include Partials/main_nav.ejs%>
<%- include Partials/footer.ejs %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= title%></title>
    <lin rel = 'stylesheet' href='/public/Content/app.css'/>
  </head>
  <body> 
    <script src = "/public/Script/app.js"></script>
    <script src = "/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src = "/node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </body>
</html>

<!---Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
  <div class="container-fluid">
    <a class="navbar-brand" href="/">INFR3120</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto"> //ms is right side and me is left side 
        <li class="nav-item">
          <% if(title=="Services") {%>
          <a class="nav-link active" aria-current="page" href="/home"><i class="fa-solid fa-house"></i> Home</a>
          <% } else { %>
           
        <li class="nav-item">
          <% } %>
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/home"><i class="fa-solid fa-house"></i> Home</a> 
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/aboutus">
          <i class="fa-solid fa-person"></i> About Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/projects">
          <i class="fa-solid fa-book"></i>  Projects</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/contactme">
          <i class="fa-solid fa-phone"></i>  Contact me</a>
        </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
  </div>
</nav>
<body>
<main>
  <div class="jumbotron">
  <div class="container">
    <h1 class="display-4"><p>Welcome to <%= title %></p></h1>
    </p>
  </div>
</main>
  <!--footer-->
  <footer> 
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="navbar-text">&copy; Copyright 2024. Made by Aleena Khan, All rights reserved</h6>
      <a href="https://www.linkedin.com/in/aleena-khan-5902b72b2/" target="_blank"><i class="fa-brands fa-linkedin fa-3x"></i></a>
      <a href="https://github.com/AleenaKhan673/assignment-2--web" target="_blank"><i class="fa-brands fa-github-alt fa-3x"></i></a>
    </nav>
  </footer>
</body>
</html>

//first file 